.colourbox {
    height: 90%;
    width: 800px;
    border: 5px;
    --s: 300px; /* control the size*/
    
    --_g: radial-gradient(#0000 70%,#F0BB7F 71%);
    background:
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2),
      conic-gradient(#F0B478 25%,#fdebad 0 50%,#F0C578 0 75%,#F0A77F 0);
    background-size: var(--s) var(--s); 
    border-style: solid;
    border-color: #7a4141;
    position: relative;
    left: 1%;
    top: 1%;
}

.text {
    color: #7a4141;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 1%;
}

.link-text {
    color: #7a4141;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 1%;
}
