.colourbox {
    height: 90%;
    width: 800px;
    border: 5px;
    background-color: #FFE699;
    border-style: solid;
    border-color: #7a4141;
    position: relative;
    left: 1%;
    top: 1%;
}

.text {
    color: #7a4141;
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 1%;
}